<div class="container-fluid">
<div class="row">
    <div class="col-6 col-md-3">
        <img src="../../../../assets/perfil.jpg" class="img-fluid" id="portrait" alt="">
    </div>
    <div class="col-6 col-md-2">
        <p id="nombre">Cynthia I. Saucedo</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-12 col-md-7" id="about-me">
        <span>
            <h3>
                Acerca de mí
            </h3>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique aliquam iusto tempora consequuntur quam, ullam aut perferendis quae, sed reiciendis, reprehenderit voluptatum obcaecati beatae eos excepturi ipsam est laboriosam fugiat.
            </p>
        </span>
    </div>
</div>
</div>